@charset 'UTF-8';

table{
    margin:0 auto;
   width:80%;
    border:1px solid black;

}

th{
padding:1%;
  background:navy;
  border-bottom:1px solid black;
  color:white;
}

td{
    border-bottom:1px solid black;
    padding:1%;
}
input[type="text"],
input[type="email"],
input[type="url"],
select
{
    width:100%;
    padding:1%;
    background:white;
    border:1px solid;
    
}

textarea{
    height:10rem;
    width:100%;
}
@media (max-width:600px){
  table{
      width:80%;
      display:flex;
      align-items:center;
      justify-content:center;
  }
  td,th{
      display:block;
      width:100%;
      margin-bottom:5%;
      border-bottom:none;
  }
}